services:
  frontend:
    build: ./app
    ports:
      - 3002:80
    develop:
      watch:
        - action: rebuild
          path: ./app/src
  backend:
    build: ./api
    ports:
      - 4000:4000
    depends_on:
      - db
    environment:
      MYSQL_DATABASE: 'demo_db'
      MYSQL_USER: 'root'
      MYSQL_PASSWORD: 'password'
      DB_URL: 'db'
    develop:
      watch:
        - action: rebuild
          path: ./api/index.js
  db:
    image: mysql:9.1.0
    environment:
      MYSQL_ROOT_PASSWORD: password
    volumes:
      - db-data:/var/lib/mysql
      - ./database:/docker-entrypoint-initdb.d
volumes:
  db-data: